html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: url(../imgs/homepage-bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body { padding-top: 80px; }

.body {
    position: absolute;
    top: 80px;
    bottom: 80px;
    overflow: auto;
    font-family: 'Raleway', Helvetica, sans-serif;
}

.centered {
    text-align: center;
}

.full-width {
    width: 100%;
}

.announce-container{
    background:rgba(255,255,255,0.7);
    padding: 120px 180px;
    border-radius: 0px !important;
}

.navbar-inverse .navbar-collapse, .navbar-fixed-top{
    border-width: 0px;
}

.navbar-inverse{
    background: none;
    font-family: 'Raleway', Helvetica, sans-serif;
    text-align: center;
    border-width: 0px;
}

.navbar-nav {
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Raleway', Helvetica, sans-serif;
}

.navbar-nav li a {
    color: #fff !important;
    text-shadow: none !important;
    padding: 30px;
    font-size: 20px;
}

.navbar-nav li a:hover{
    color: #589fb6 !important;
}


.container-fluid{
    padding-right: 15%;
    padding-left: 15%;
}

.navbar {
    height: 80px;
}
