html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body { padding-top: 70px; }

.script-style {
    font-family: 'Pacifico', cursive;
}

.centered {
    text-align: center;
}